[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mlflow = "*"
scikit-learn = "==1.4.2"

[dev-packages]
deepdiff = "*"
pytest = "*"
black = "*"
isort = "*"
pylint = "==3.2.7"
pre-commit = "*"

[requires]
python_version = "3.12"
